.wraper {
    width: 215px;
    height: 38px;
    padding: 10px 28px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    &:hover {
        background-color: var(--backGroundColorIconandEtc);
    }
}
.itemFirst {
    background-color: var(--backGroundColorIconandEtc);
    pointer-events: none;
}

