.backGroundDefaultOfIcon {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: var(--backGroundColorIconandEtc);
    margin-top: 8px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.changeBackGround {
    background-color: rgba(22, 24, 35, 0.12);
}
