.wraper {
    width: 275.75px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}
.icon-list {
    cursor: pointer;
    padding: 0px 4px;
    font-style: normal;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
