.wraper {
    position: absolute;
    min-width: 100px;
    height: 96px;
    background-color: #ffffff; /* Màu nền của tooltip */
    color: #333333; /* Màu chữ của tooltip */
    border-radius: 10px; /* Độ cong của góc tooltip */
    font-size: 14px; /* Cỡ chữ của tooltip */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
// .top {

// }
.bottom {
    right: 0;
}
// .right {

// }
// .left {

// }
.arrowSvg {
    position: absolute;
}
