.backGroundMenu3 {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    font-size:14px;
} 
.container {
    position: relative;
    width: 700px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    animation: menu3 .2s ease-in-out;
}

.fixed-box {
    width: 100%;
    height: 72px;
    background-color: transparent;
    border-bottom: 1px solid var(--colorLetterBold2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 16px;
    background-color: #ffffff;
}

.scrollable-box {
    width: 100%;
    height: calc(100% - 72px);
    overflow: auto;
    background-color: lightgray;
    padding: 10px;
    background-color: #ffffff;
}
.boxMenu3-fixed-label {
    height: 100%;
    font-size: 20px;
    line-height: 31.2px;
    flex: 1;
}
.boxMenu3-fixed__icon {
    height: 100%;
    width: 14px;
    line-height: 31.2px;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--backGroundColorIconandEtc);
}
.boxMenu3-container-label {
    width: 100%;
    height: 22px;
    padding: 0 0 8px 8px;
    color: rgba(22, 24, 35, 0.75);
}

@keyframes menu3 {
    0% {
        transform: scale(0.8); 
        opacity: 0; 
    }
    50% {
        transform: scale(0.9); 
        opacity: 0.5; 
    }
    100% {
        transform: scale(1); 
        opacity: 1; 
    }
}