.wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: 60px;
    width: 100%;
    padding : 0px 24px 0 16px;
}
.wrap-header-logo {
    height: 42px;
    min-width: 300px;
    cursor: pointer;
} 

