.toggle {
    display: block;
    margin-left: 44.79px;
    width: 44px;
    height: 24px;
    border-radius: 180px;
    background-color: rgba(22, 24, 35, 0.12);
    position: relative;
    cursor: pointer;
}
.toggle::after {
    content: '';
    left: 3px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 100%;
    transition: all 0.3s ease;
}

.buttonDarkMode {
    background-color: #0be09b;
}
.buttonDarkMode::after {
    right: 0;
    top: 50%;
    transform: translate(19px, -50%);
}
